body {
  background-image:url(background.png);
}
.page-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #a4e822;
}
.page-logo {
  margin: 0 0 0;
}

.discord-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.discord-logo:hover {
  transform: rotate(720deg);
  transition: 1.5s;
  width: 60px;
}
.popup {
  border: 2px solid #000;
  margin-left:50px;
  margin-right:50px;
  padding-left: 45%;
  padding-right: 45%;
  padding-down: 20px;
  background-image: url(popup.png);
  border-radius: 20px;
}
.redirections button{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.redirections u {
  list-style-type: none
}
.link {
  width: 150px;
  height: 65px;
  border-radius: 50px;
}
.link:hover{
  transition: 0.3s;
  width: 175px;
  height: 80px;
  margin-left: -10px;
}
#pi {
  margin-left: 35%;
  margin-top: -25px;
  border-radius: 50px;
  max-width: 50px;
  min-width: 50px;
}
